/* Ids */

#sombra {
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    background: #FFE4E1;
    box-shadow: 4px 4px #DC143C;
}

#sombra h1 {
    color: #B22222;
    text-shadow: 2px 2px #4B0082;
}

#sombra p {
    font-weight: bold;
    text-align: justify;
    text-shadow: 1px 1px #DC143C;
}