/* Links não visitados */

a:link {
 color: #FF0000;
}

/* Links Visitados */

a:visited {
    color: #4B0082;
}

/* Links Hover */

a:hover {
    color: #C71585;
}

/* Links Ativos */

a:active {
    color:	#3CB371;
}